#calculator{
  border: 1px solid white;
  border-radius: 5px;
  width: 200px;
  height: 100px;
}

#display {
  margin: 10px;
  width: 85%;
  height: 60px;
  font-size: 30px;

}

.buttoncontainer{
  display: flex;
  justify-content: center;
  margin: 5px;
  flex-wrap: wrap;

}

.button{
  width: 45px;
  height: 45px;
  margin: 3px;
  background-color: rgb(152, 152, 199);
}
.box{
  height: 420px;
  width: 200px;
 border: 1px solid black;
}